body{
    background: #D2D2c1 url('/anna_bella/fundo.png');
    font: 20px, Arial, Helvetica, sans-serif;
}
#main-container{
    width: 900px;

}

#menu-bar{
    background: #c5c5b2;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 0px;

}

a{
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding:5px;    
}

#content{
    background: #e8e8d9;
    padding-top: 10px;
}

.centralizar{
    text-align:center;
}

h1{
    color:#828271;
    font-size: 1.2em;
}

.img-campanha {
    border: 10px solid #c3c3ae;

}