body{
    background: #D2D2c1 url('/anna_bella/fundo.png');
    font: 20px, Arial, Helvetica, sans-serif;
}
#main-container{
    width: 900px;
    border: 1px solid red;
}

#menu-bar{
    background: #c5c5b2;
    padding:18px;
    margin-bottom: 0;

}

a{
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding:5px;    
}

#content{
    background: #e8e8d9;
    padding-top: 10px;
}